<div id="main-wrapper">
  <div id="nav-wrapper">
    <button
      mat-button
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      [excludeDays]="excludeDays"
    >
      Previous week
    </button>
    <button
      mat-stroked-button
      color="primary"
      mwlCalendarToday
      [(viewDate)]="viewDate"
    >
      Current week
    </button>
    <button
      mat-button
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      [excludeDays]="excludeDays"
    >
      Next Week
    </button>
  </div>
  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [events]="calendarEvents"
    [excludeDays]="excludeDays"
    [dayStartHour]="dayStartHour"
    [dayEndHour]="dayEndHour"
  >
  </mwl-calendar-week-view>
</div>
