<div id="wrapper">
  <h1>How to use the application</h1>
  <p>
    Click on an available slot to create a reservation. Note that reservations
    can only be made on available slots (not in gray) and can not overlap. Note
    that if the time slot is too short, the calendar will still show a 15 min
    slot because there is a minimal height. However, the reservation time will
    still be correct
  </p>
  <p>
    Click on the delete button to delete a reservation. Note that you will need
    to enter the email address used for the reservation to delete it.
  </p>
</div>
